.section-container {
    flex: 1 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}

.slide-image {
    display: block;
    font-size: 80px;
    color: #191919;
    cursor: pointer;
}

.option-container {
    text-align: center;
}

.option-container > p {
    font-size: 35px;
}

.choose-icon {
    margin: 0;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.print-helper {
    word-break: break-all;
    width: 85%;
    padding: 0 15px;
}
