.slide-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
}

.sections-container {
    display: flex;
}

.button-container {
    margin: 100px 0;
    text-align: center;
}
