.slide-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
}

.sections-container {
    display: flex;
}

input {
    border: none;
    text-align: center;
}

input.big {
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}

textarea.medium {
    border: none;
    text-align: center;
    font-size: 15px;
    resize: vertical;
}

input.medium {
    height: 30px;
    font-size: 15px;
}
